<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dragger2.nuoyuan.com.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/timg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.JumpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AttributeSettersActivity" />
        <activity android:name=".activity.CLickTestActivity" />
        <activity android:name=".activity.DynamicActivity" />
        <activity android:name=".activity.ObserverActivity" />
        <activity android:name=".activity.ViewStubActivity" />
        <activity android:name=".activity.ListDataBindingTestActivity" />
        <activity android:name=".activity.ResourceTestActivity" />
        <activity android:name=".activity.IncludeActivity" />
    </application>

</manifest>